ul, li {
  margin: 0px!important;
  padding: 0px!important;
}
.no-nothing{
  margin: 0px!important;
  padding: 0px!important;
}
.no-margin{
  margin: 0px!important;
}
.no-padding{
  padding: 0px!important;
}
.no-border{
  border: none;
}
.no-outline{
  outline: none !important;
}
progress{
  color: #EA1039;
}
.phone-no-field{
  background-color: transparent;
  width: 130px;
}
.show-phone-btn{
  font-size: 13px;
  padding: 5px;
  border-radius: 5px !important;
}
label{
  padding: 0 10px;
}
a{
  color: white;
  text-decoration: none!important;
}
.required{
  color: red;
  font-size: 20px;
}

.react-phone-number-input__input{
  border: none!important;
}
.react-phone-number-input__icon{
  border: none!important;
  margin-bottom: 15px;
}
.form-control:focus{
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border-color: #EA1039!important;
  outline: none!important;
}
.footnav-container{
  padding-top: 100px;
  padding-bottom: 80px;
}
.foot-nav{
  clear: both;
  color: white;
  height: auto;
  /* margin-top: 100px; */
  /* margin-bottom: 80px; */
  background-image: url('./images/section.jpg'),linear-gradient(to right,#EA1039,rgba(27, 20, 100,1));
  background-blend-mode: multiply;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 30px;
  /* height: 100%; */

}
.foot-nav-ul{
  list-style-type: none;
}
html[data-theme="normal"] {
  --theme-background-color : white;
}
html[data-theme="dark"] {
  --theme-background-color : rgb(14, 14, 14);
}
li.col-heading{
  font-size: 35px;
  margin-top: 50px;
  border-bottom: 2px solid white;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.col-items{
  margin: 10px auto 20px auto!important;
  text-align: center;
  font-size: 19px;
}

.social-logos{
  /* height: 30px; */
  /* width: 30px; */
  font-size: 25px !important;
  margin-top: -3px;
  margin-right: 10px;
}

.footer{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 100px;

  /* margin-top: 10px; */
  color: white;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background-color: black;
  position: absolute;
  /* bottom: 0; */
}
.terms span,.cookie span,.privacy span, .copyright{
  /* color: #EA1039;
  padding: 5px 10px;
  background-color: transparent;
  transition: .5s;
  transition-property: background-color;
  font-size: 16px; */
  color: white;
  transition: .5s all;
  margin: 0 10px;
  cursor: pointer;
}

.terms span:hover,.cookie span:hover,.privacy span:hover, .copyright:hover{
  /* color: rgba(27, 20, 100,1); */
  color: #EA1039;
}
.seller-profile-container{
  height: 60vh;
}
.footnav-social-links{
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.footnav-social-links:hover{
  color: #EA1039;
}
.navbar{
  width: 100%;
  height: auto;
  background-image:url("./images/b7.jpg") ,linear-gradient(to right,#EA1039,rgba(27, 20, 100,1));
  background-blend-mode: multiply;
  color:white;
  margin-bottom: 50px;
}
.main-logo{
  /* padding-right: 40px; */
  color: white;
}
.nav-link{
  color: white!important;
  display: inline!important;
  font-size: 19px;
  padding: 0px!important;
  margin:0 10px;
  transition: .3s color;
}
.nav-link:hover{
  color: #EA1039 !important;
}
.confirmation-modal .modal-content{
  background-color: white;
}
.confirmation-modal-footer{
  padding: 16px 50px !important;
  display: flex;
  /* flex-direction: row !important; */
  justify-content: space-between !important;
}
.confirmation-modal-yes-btn{
  background-color: #EA1039 !important;
  border: 1px solid #EA1039 !important;
  font-size: 14px !important;
  margin: 0 !important;
  padding: 6px 24px !important;
}
.main-content-container{
  padding: 0 10px;
}
.confirmation-modal-yes-btn:focus , .confirmation-modal-no-btn:focus{
  box-shadow: none !important;
  outline: none !important;
}
.confirmation-modal-yes-btn:hover{
  background-color: rgba(27, 20, 100,1) !important;
  border: 1px solid rgba(27, 20, 100,1) !important;
}
.confirmation-modal-no-btn{
  background-color: grey !important;
  border: 1px solid grey !important;
  font-size: 14px !important;
  margin: 0 !important;
  padding: 6px 24px !important;
}
.confirmation-modal-no-btn:hover{
  background-color: rgb(97, 97, 97) !important;
  border: 1px solid rgb(97, 97, 97)y !important;
}
.login-list{
  list-style-type: none;
}
.login-list li{
  display: inline!important;
}
.logo {
  display: inline-block;
  font-size: 40px;
  padding: 4px;
  margin: 0 0 8px 86px;
}

.clear{
  clear: both;
}

.container{
  width: 100%;
  margin: 0 auto;
}

/* Ecom */

.right-text{
  background-color: khaki !important;
}
.rce-mbox {
  background-color: #EA1039 !important;
  color: white;
}
.rce-mbox-right {
  background-color: rgba(27, 20, 100,1) !important;
  color: white;
}
.rce-mbox-right-notch{
  fill: rgba(27, 20, 100,1) !important;
}
.rce-mbox-left-notch{
  fill: #EA1039 !important;
}
.rce-mbox-time{
color: white !important;
}

.main-login{
  margin: 0 auto;
  width: 600px;
}
.main-signup{
  margin: 0 auto;
  width: 600px;
}
.no-pad{
  padding: 0!important;
}
.form-container{
  color: white;
  padding: 50px;
  padding-top: 50px;
}
.login-form .display-4{
  text-align: center;
  margin: 0 0 50px 0;
}
.search-btn{
  height: 45px;
  margin: 0px auto!important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.region-selec-a{
  /* margin-bottom: 14px!important;   */
  margin-right: 10px;
  height: 45px!important;
  width: 125px!important;
  /* padding: 9px !important */
}
.region-selec-b{
  /* margin-bottom: 14px!important;   */
  /* margin-right: 10px; */
  height: 45px!important;
  width: 125px!important;
  /* padding: 9px !important */
}
.form-control{
  padding-bottom:0; 
  /* width: 60%; */
  border: none;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 2px solid whitesmoke;
  transition: all .5s;
  transition-property: width, padding-bottom, margin-top;
  color: white;
  /* border-top-left-radius: 0px!important; */
  /* border-bottom-left-radius: 0px!important */
}  
.face{
  /* font-size: 29px; */
  /* height: 70px; */
  /* width: 70px; */
  color: #EA1039;
}
#searchBar{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: width .5s, padding .5s;

}
.dropdown-toggle::after {
  display:none !important;
}


.navbar-form-wrapper{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.logout-toast{
  /* width: 100% !important; */
  background-color: #EA1039 !important;
  border-radius: 5px !important;
  /* background-color: rgba(27, 20, 100,1) !important; */
  text-align: center !important;
  color: white !important;
}
.showSearch{
  height: 45px !important;
  width: 88% !important;
  padding: 10px;
  /* border: 0px !important; */
  border: 0px !important;
}
.showSearch:focus{

  border: 1px solid crimson !important;
}
.login-btn{
  margin: 20px 0 0 0;
  border: none;
  color: white;
  border-radius: 0px;
  background-color: #EA1039;
  /* background-color: #ea10383b; */
  /* top: 0; */
  /* transition-property: background-color ; */
  box-shadow: 0;
  /* transition:  5s background-color; */
  /* position: relative; */
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out, color 2s;
  /* outline: none; */
}
.login-btn:hover{
  background-color: rgba(27, 20, 100,1);
  /* transition:  5s background-color; */
  
  /* background-color: rgba(57, 73, 171,.9); */
  /* background-color: rgba(57, 72, 171, 0.301); */
  /* outline: none; */
  color: white;
}
.login-btn:active{
  box-shadow:  0px 0px 10px -.5px black;
  top: 3px;
}
.login-btn:focus{
  -webkit-appearance: unset!important;
  box-shadow: none!important;
}
.float-right p{
 margin-top: 25px;
 font-size: 18px;
}
.float-right p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.row{
  margin: 0!important;
  padding: 0!important;
}
.jumbotron{
  background-image: url('./images/4.jpg'),linear-gradient(to right,rgba(57, 73, 171,.5),rgba(27, 20, 100,.6));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding: 20px 0 50px 20px;
  border-radius: 0;
  background-size: cover;
  margin-top: 50px;
}
table{ 
  margin: 0 auto;
}
.about-table{
  width: 300px;
}
.heading-3{
  font: bolder;
  font-size: 32px;
  margin: 20px 0;
}
.about-detail{
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.about-ul{
  display: inline-grid;
  list-style-position: inside;
}
.about-content{
  margin: 100px auto 100px auto;
}
.about-mission{
  margin: 20px 0 !important;
}
.m-heading{
  font-size: 70px;
  margin: 10px 0 40px 0;
}
.a-heading{
  font-size: 70px;
  margin: 80px 0 40px 0;
}
.container2{
  margin: 30px  auto 0 auto;
}
marquee{
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.marquee-text{
  /* color: white; */
  font-size: 22px;
}

.card{
  width: 19rem;
}
.qw{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 5;
  width: 100%;
  height: 150px;
}
.qw:hover{
  background-color: transparent;
}
/* Media Queries */
@media only screen and (max-width: 992px){
  .jumbotron{
      margin: 10px 0;
      padding: 10px;
  }
  .display-3 b{
      font-weight: 400;
  }
  .heading-3{
      margin: 10px 0;
  }
  .cont-btn{
      margin: 0!important;
  }
  
  .login-btn{
      padding: 5px;
      font-size: 14px;
  }
  .view-btn{
      padding: 5px;
      font-size: 14px;
  }
  marquee{
      margin: 5px;
  }
  marquee img{
      height: 50px;
      width: 100px;
  }
  .section, .aside{
      padding: 0;
  }
  .about-footNav{
      margin: 10px 0;
      padding: 10px 0;
  }
  .about-table{
      width: 100px!important;
      border: none;
  }
  .card-text{
      font-size: 15px;
  }
  .card-body{
      padding: 5px;
  } 
}

/* Detail Content Styling */

.details-container{
  margin: 60px 120px;
}
.details-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details-cols-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details-left-wrapper{
  width: 300px;
  
}
.details-right-wrapper{
  width: 800px;
}
.profile-details-big-heading{
  font-size: 18px;
  padding: 15px 20px 0px 20px;
  font-weight: bold;
}
.details-profile-pic{
  width: 100%;
}
.tabs-shadow{
  /* border: 1px solid #EA1039 !important;  */
  box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.438);
  /* box-shadow: 0px 0px 14px -5px rgba(27, 20, 100,1); */
}
/* .profile-pic-container{
  text-align: center;
  margin: 20px;
} */
.detail-input-textarea{
  padding: 10px 50px !important;
  text-align: left !important;
  width: 100%;
  resize: none;
}
.background-class{
  background-color: var(--theme-background-color)  ;
}
.detail-input-country-select{
  text-align-last: right !important;
  width: 160px !important;
}
.detail-input-country-select option{
  text-align-last: right !important;
  width: 160px !important;
}
.profile-details-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 40px;
}
.details-page-btn{
  font-size: 14px !important;
  margin: 0 10px;
}
.profile-details-wrapper{
  margin: 20px 40px;
}
.profile-details-container{
  margin: 10px 0px;
}
.profile-details-info-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.profile-details-small-heading{
  font-weight: bold;
  /* font-family: 'Impact'; */
}
.editable-details-cols-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-text-group{
  background-color: gainsboro;
  padding: 20px;
  display: inline-block;
  margin: 30px;
  width: 40%;
}
.detail-input{
  background-color: transparent;
  border-radius: none!important;
  border: 0px;
  border-bottom: 1px solid white;
  font-size: 14px;
  padding: 5px;
  text-align: right;
  color: black;
  cursor: pointer;
  transition: .5s all;
  /* width: 100%; */
}
.detail-input:focus{
  color: #EA1039;
  outline: none!important;
  border-bottom: 1px solid #EA1039;
}
#contact-comment{
  resize: none;
}

/* Current Ad Component Styling */
.ad-img-container{
  border: 1px solid gainsboro;
  padding: 20px 60px;
}
.price-container{
  /* margin: 0 30px; */
  border: 1px solid gainsboro;
}
.favourite-container{
  margin-top: 10px;
}
.adTitle-container{
  color: rgb(161, 161, 161);
  margin-top: 10px;
}
.container1{
  margin-top: 20px;
}
.loc-container{
  color: rgb(161, 161, 161);
  font-size: 14px;
}
.seller-container{
  border: 1px solid gainsboro;
}
.seller-info-container{
  margin-top: 0px!important;
}
.seller-img-container{
  display: inline;
  margin-right: 30px
}
.seller-name-container{
 display: inline; 
 font-size: 20px
}
.phone-container{
  /* padding: 20px; */
  text-align: center; 
}
.user-chat-btn{
  padding: 5px 15px;
  border-radius: 5px;
}
.number{
  margin-left: 10px;
  display: inline;
}
.ad-desc-container{
  border: 1px solid gainsboro;
  margin-top: 20px;
  padding: 20px 50px;
}
p.ads-type{
  margin-left: 10px;
  color: rgb(161, 161, 161);
  display: inline;
  font-size: 18px;
  cursor: text!important;
  text-decoration: none!important;
}

div.ads-type{
  display: inline;
  margin-left: 100px;
  font-size: 18px;
}

/* Post Ad component styling */
.post-form-container{
  width: 65%;
  /* text-align: center; */
  margin: 0 auto; 
}
.ad-img-upload{
  padding-bottom: 10px!important;
}
.custom-file-label {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}
.ad-img-upload-container{
  border: 1px solid gainsboro;
  padding: 5px;
}
.img-upload-btn{
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  margin: 0px;
  font-size: 14px;
}
.hid{
  display: none;
}
.show{
  display: initial;
}
.imgupload1{
  border: 1px solid gainsboro;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}
.img-upload-input{
  width: 100%;
  margin: 5px 0;
  border: 1px solid gainsboro;
}
.img-upload-progress{
  margin: 0 10px;
  color: #EA1039;
}


/* login Portal Styling */

.user-info{
  padding-top: 4px;
}
.black{
  color: black;
}
.dropdown{
  background-color: transparent!important;
  border: none!important;
}
.dropdown:focus{
  outline: none!important;
  box-shadow: none!important;
}
.u-name-divider{
  margin: 5px 0px;  
}

.yours-custom-class{

  width: 100%;
}
.user-image{
  border-radius: 100%;
}
.small{
  font-size: 12px;
  color: rgb(144, 144, 144)
}



.edit-ad-btn{
  width: 70px;
  /* float: right !important; */
  margin: 0px 30px 10px 17px;
  color: white;
  text-align: center;
  background-color: #EA1039;
  padding: 5px !important;
  border-radius: 5px;
}
.edit-ad-btn:hover{
  color: white;
  /* background-color: rgba(57, 73, 171,.9); */
  background-color: rgba(27, 20, 100,1);
}
.edit-ad-btn:focus{
  outline: none !important;
}
.current-edit-ad-btn{
  width: 50% !important;
  margin: 0px !important ;
  background-color: #EA1039;
  display: inline-block;
  color: white;
  text-align: center;
}
.card-wrapper{
  margin: 5px 15px;
}
.align-center{
  align-items: center;
}
.space-btw{
  justify-content: space-between;
}
.open-ad-btn{
  font-size: 14px !important;
  padding: 4px 8px !important;
}
.ad-description{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 3 !important; 
  white-space: nowrap;
}
.ads-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.ads-btn-container{
  margin-top: 10px;
}
.seached-ad-heading{
  font-size: 70px;
  font-weight: 300;
}
.searched-ads-container{
  text-align: center;
}

.display{
  display: initial;
}
.hidd{
  display: none;
}

.chatbox-wrapper{
  margin: 40px;
  /* position: relative; */
}
.chatbox{
  padding: 20px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */

}
.message-box{
  /* margin: 10px; */
  height: 800px;
  overflow: auto;

}
.message-input-wrapper{
  /* position: absolute; */
  /* bottom: 20px; */
 margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center; 
  padding: 0 20px;
}
.message-input{
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  height: 40px;
}
.chat-send-btn{
  height: 40px;
  margin: 0 10px;
}
.message-input:focus{
  outline: none;
}

 /* Scrollbar Styling */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-right: 30px!important;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: rgba(57, 73, 171,.9);
    margin-right: 30px!important;
}
::-webkit-scrollbar-thumb {
    padding-right: 15px;
    border-radius: 6px;
    background-color: #EA1039;
    margin-right: 30px!important;
}


#comments span{
  color: var(--duo-color);
}

/* Comments Toggle Switch Css */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  /* border: 1px solid black; */
  border-radius: 34px; 
  top: 4px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 16px;
  top: 2px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #EA1039;
}

 /* input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}